<h1>新規投稿</h1>
<%= form_for @post do |f| %>
  <div class="field">
    <%= f.label :投稿 %>
    <%= f.text_field :body, :size => 140 %>
  </div>
  <%= f.submit "投稿する" %>
<% end %>
<%= link_to "サークルページに戻る", show_club_path %>
